beautifulsoup4
neuralcoref
nltk
pandas
python-aiml
Scrapy
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz#egg=en_core_web_lg
scikit-learn
selenium
spacy==2.1.0
textacy==0.9.1
textsplit
webdriver-manager